* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}
a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

.home {
	text-align: center;
	background: url(fon.jpg) 50% no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);
	color: #fff;
}
.home__logo {
	padding-top: 165px;
	margin-bottom: 150px;
}
@media screen and (max-width: 799px) {
	.home__logo {
		padding-top: 65px;
		margin-bottom: 50px;
	}
}
.home__title h1 {
	font-size: 34px;
	letter-spacing: 5.43px;
	line-height: 40px;
	max-width: 900px;
	margin: 0 auto;
}
@media screen and (max-width: 799px) {
	.home__title h1 {
		max-width: 500px;
	}
}
@media screen and (max-width: 499px) {
	.home__title h1 {
		font-size: 20px;
		max-width: 400px;
	}
}
@media screen and (max-width: 420px) {
	.home__title h1 {
		max-width: 300px;
	}
}
.home__subtitle {
	font-size: 26px;
	line-height: 40px;
	letter-spacing: 4.15px;
	margin-bottom: 278px;
}
@media screen and (max-width: 499px) {
	.home__subtitle {
		font-size: 15px;
	}
}
.home__subtitle:after {
	content: "";
	position: absolute;
	left: calc(50% - 52.5px);
	margin-top: 50px;
	background-color: #fff;
	width: 105px;
	height: 2px;
}
@media screen and (max-width: 849px) {
	.home__subtitle {
		max-width: 700px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 799px) {
	.home__subtitle {
		margin-bottom: 50px;
	}
	.home__subtitle:after {
		content: none;
	}
}
@media screen and (max-width: 699px) {
	.home__subtitle {
		max-width: 600px;
	}
}
@media screen and (max-width: 620px) {
	.home__subtitle {
		max-width: 500px;
	}
}
@media screen and (max-width: 499px) {
	.home__subtitle {
		display: none;
	}
}
.home__more {
	margin-top: 75px;
	padding-bottom: 153px;
}
@media screen and (max-width: 799px) {
	.home__more {
		margin-top: 50px;
		padding-bottom: 53px;
	}
}

.btn {
	border: 2px solid #fff;
	display: inline-block;
}
.btn:hover {
	background-color: #fff;
}
@media screen and (max-width: 849px) {
	.btn {
		margin-top: 250px;
	}
}
@media screen and (max-width: 799px) {
	.btn {
		margin-top: 20px;
	}
}
@media screen and (max-width: 499px) {
	.btn {
		margin-top: 100px;
	}
}
.btn a {
	color: #fff;
	font-size: 16px;
}
.btn a:hover {
	color: #517a92;
}
.btn a p {
	padding: 18px 42px;
}

.menu {
	margin: 0 auto;
	display: flex;
	padding-top: 23px;
	justify-content: space-around;
	max-width: 500px;
}
.menu__link {
	font-size: 15px;
	color: #3c3c3c;
}
.menu__link:hover {
	color: #ada074;
}
.menu__link_active {
	color: #ada074;
}

.heading {
	text-align: center;
	font-size: 34px;
	letter-spacing: 8.95px;
}
.heading:after {
	content: "";
	position: absolute;
	left: calc(50% - 40.5px);
	margin-top: 35px;
	background-color: #000;
	width: 81px;
	height: 1px;
}
@media screen and (max-width: 400px) {
	.heading {
		max-width: 300px;
		margin: 0 auto;
	}
}

.about {
	text-align: center;
	margin: 0 auto;
	padding-top: 130px;
	max-width: 900px;
}
@media screen and (max-width: 929px) {
	.about {
		max-width: 500px;
		padding-top: 70px;
	}
}
.about__subtitle {
	margin-top: 70px;
	color: #868585;
	line-height: 25.89px;
}
@media screen and (max-width: 529px) {
	.about__subtitle {
		max-width: 300px;
		margin: 0 auto;
		margin-top: 75px;
	}
}
.about__bottom {
	display: flex;
	margin-top: 30px;
	padding-bottom: 95px;
}
@media screen and (max-width: 929px) {
	.about__bottom {
		flex-direction: column;
		padding-bottom: 50px;
	}
}
.about__column {
	flex: 0 0 33.3333333%;
}
.about__image {
	margin-top: 30px;
}
.about__title {
	margin: 41px 0 36px 0;
	font-size: 22px;
	letter-spacing: 3.52px;
}
@media screen and (max-width: 929px) {
	.about__title {
		margin: 20px 0 15px 0;
	}
}
.about__text {
	color: #868585;
	line-height: 26px;
	max-width: 260px;
	margin: 0 auto;
}

.portfolio {
	text-align: center;
	background-color: #f3f3f3;
}
.portfolio__heading {
	padding-top: 107px;
	margin-bottom: 91px;
}
@media screen and (max-width: 399px) {
	.portfolio__heading {
		font-size: 27px;
	}
}
.portfolio__gallery {
	display: flex;
	justify-content: center;
	margin-top: 136px;
}
@media screen and (max-width: 1160px) {
	.portfolio__column:last-child {
		display: none;
	}
}
.portfolio__item {
	margin: 13px 8px;
}
.portfolio__item img {
	width: 100%;
}

.partners {
	text-align: center;
	background: url(fon2.jpg) 50% no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);
}
.partners__heading {
	padding-top: 100px;
	margin-bottom: 93px;
	color: #fff;
	font-size: 30px;
	letter-spacing: 1.8px;
}
@media screen and (max-width: 649px) {
	.partners__heading {
		padding-top: 30px;
		margin-bottom: 30px;
		font-size: 24px;
	}
}
.partners__flex {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
@media screen and (max-width: 649px) {
	.partners__flex {
		flex-direction: column;
		align-items: center;
	}
}
.partners img {
	margin-right: 50px;
	padding-bottom: 100px;
	justify-content: space-around;
}
@media screen and (max-width: 649px) {
	.partners img {
		margin-right: 0;
		padding-bottom: 20px;
	}
}
.partners img:last-child {
	margin-right: 0;
}
.contact__flexbox {
	display: flex;
	justify-content: center;
}
.contact__heading {
	padding-top: 180px;
	margin-bottom: 166px;
}
@media screen and (max-width: 850px) {
	.contact__heading {
		padding-top: 50px;
		margin-bottom: 66px;
	}
}
@media screen and (max-width: 429px) {
	.contact__heading {
		font-size: 24px;
	}
	}
@media screen and (max-width: 850px) {
	.contact__flexbox {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}
.contact__form input {
	background-color: #f8f7f7;
	border-top: 1px solid #000;
	width: 161px;
	height: 35px;
	display: flex;
	margin: 13px 60px 75px 0;
}
.contact__form input:focus {
	border-bottom: 1px solid #000;
}
@media screen and (max-width: 850px) {
	.contact__form input {
		width: 383px;
		margin: 13px 0 25px 0;
	}
}
@media screen and (max-width: 429px) {
	.contact__form input {
		width: 300px;
	}
}
.contact textarea {
	border-top: 1px solid #000;
	width: 383px;
	height: 118px;
	background-color: #f8f7f7;
	margin-top: 13px;
	resize: none;
}
.contact textarea:focus {
	border-bottom: 1px solid #000;
}
@media screen and (max-width: 429px) {
	.contact textarea {
		width: 300px;
	}
}
.contact button {
	display: block;
	background-color: #fff;
	letter-spacing: 0.84px;
	padding-top: 15px;
	margin: 0 0 102px 320px;
}
.contact button:hover {
	opacity: 0.5;
}
@media screen and (max-width: 429px) {
	.contact button {
		margin-left: 240px;
	}
}
.contact__right {
	margin-left: 13px;
	max-width: 300px;
}
@media screen and (max-width: 850px) {
	.contact__right {
		margin-top: -50px;
		margin-bottom: 50px;
	}
}
.contact__text {
	line-height: 26px;
}
.contact__author {
	margin: 36px 0 23px 0;
}
.contact__social img {
	margin: 0 12px 13px 0;
}
@media screen and (max-width: 850px) {
	.contact__inputs {
		display: flex;
		display: block;
	}
}

.footer {
	text-align: center;
	background-color: #3c3c3c;
}
.footer__logo {
	padding-top: 48px;
	margin-bottom: 41px;
}
.footer__menu a {
	color: #a4a4a4;
	margin-right: 20px;
}
.footer__menu a:last-child {
	margin-right: 0;
}
.footer__copyright {
	margin-top: 34px;
	padding-bottom: 49px;
	color: #6c6c6c;
}